<div class="main">
  <div class="layout-table">
    <div class="layout-cell">
      <div class="container">
        <div class="">
          <h1 class="table-title">{{title}}</h1>

          <div class="color-table-block row">
            <table class="table table-bordered table-dark">
              <thead>
              <tr  class="row">
                <th class="col-lg-5 col-xl-5 col-md-6 col-sm-6 col-12">
                  Color name
                </th>
                <th class="col-lg-7 col-xl-7 col-md-6 col-sm-6 col-12">
                  HEX
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let color of colorsArr" class="row">
                <td class="col-lg-5 col-xl-5 col-md-6 col-sm-6 col-12">{{color.colorName | uppercase }}</td>
                <td class="col-lg-7 col-xl-7 col-md-6 col-sm-6 col-12" style.background = "{{color.hexValue}}"></td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


